.wrapper {
    padding-top: 20px;
    background-color:#550A46 ;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 100px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }